In [2]:
import pandas as pd

In [4]:
pd.__version__

'2.1.4'

In [6]:
df = pd.read_csv("yellow_tripdata_2021-01.csv.gz", nrows=100)
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [24]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [45]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv.gz", iterator=True, chunksize=100000)

In [46]:
df_it = next(df_iter)

In [47]:
len(df_it)

100000

In [48]:
df_it.tpep_pickup_datetime = pd.to_datetime(df_it.tpep_pickup_datetime)
df_it.tpep_dropoff_datetime = pd.to_datetime(df_it.tpep_dropoff_datetime)

In [49]:
%time df_it.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

CPU times: user 2.36 s, sys: 19.6 ms, total: 2.38 s
Wall time: 4.01 s

1000

In [51]:
from time import time

In [52]:
while True:
    try:
        t_start = time()
        
        df_it = next(df_iter)
        
        df_it.tpep_pickup_datetime = pd.to_datetime(df_it.tpep_pickup_datetime)
        df_it.tpep_dropoff_datetime = pd.to_datetime(df_it.tpep_dropoff_datetime)
        
        df_it.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
        
        t_end = time()
        
        print(f'Inserted chunk of size {len(df_it)}, took {(t_end - t_start):.3f} seconds')
    except StopIteration:
        print("Finished Inserting the data")
        break

Inserted chunk of size 100000, took 4.169 seconds
Inserted chunk of size 100000, took 4.285 seconds
Inserted chunk of size 100000, took 4.162 seconds
Inserted chunk of size 100000, took 4.108 seconds
Inserted chunk of size 100000, took 4.310 seconds
Inserted chunk of size 100000, took 4.139 seconds
Inserted chunk of size 100000, took 4.177 seconds
Inserted chunk of size 100000, took 4.076 seconds
Inserted chunk of size 100000, took 4.242 seconds
Inserted chunk of size 100000, took 4.213 seconds
Inserted chunk of size 100000, took 4.338 seconds

/tmp/ipykernel_40151/4107307053.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_it = next(df_iter)

Inserted chunk of size 100000, took 4.430 seconds
Inserted chunk of size 69765, took 2.661 seconds
Finished Inserting the data