In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('fhv_tripdata_2019-02.csv')
df.head(5)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264.0,265.0,NaN,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264.0,265.0,NaN,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264.0,265.0,NaN,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264.0,265.0,NaN,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264.0,265.0,NaN,B00037

In [5]:
df.describe()

       PUlocationID  DOlocationID   SR_Flag
count  1.707648e+06  1.707648e+06  6.000000
mean   2.486215e+02  2.501165e+02  1.500000
std    4.871524e+01  4.810627e+01  0.547723
min    1.000000e+00  1.000000e+00  1.000000
25%    2.640000e+02  2.640000e+02  1.000000
50%    2.640000e+02  2.650000e+02  1.500000
75%    2.640000e+02  2.650000e+02  2.000000
max    2.650000e+02  2.650000e+02  2.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 91.2+ MB

In [10]:
df.isnull().sum(), df.shape[0]

(dispatching_base_num            0
 pickup_datetime                 0
 dropOff_datetime                0
 PUlocationID                    1
 DOlocationID                    1
 SR_Flag                   1707643
 Affiliated_base_number       7107
 dtype: int64,
 1707649)